<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}

{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top_mobile }}px 2.4rem {{ section.settings.padding_bottom_mobile }}px 2.4rem;
  }
  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-reset" class="icon icon-close"  fill="none" viewBox="0 0 18 18" stroke="currentColor">
    <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
    <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
    <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {% comment %} {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }} {% endcomment %}
                <svg width="{{ settings.logo_width }}" height="40" viewBox="0 0 159 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 19.6662V0.590485H4.93952V12.561C6.3932 10.2767 8.84071 9.03069 11.7926 9.03069C16.7766 9.03069 22.0128 12.6055 22.0128 19.6217C22.0128 26.1484 17.4441 30.6281 10.9174 30.6281C4.39069 30.6281 0 26.3116 0 19.6662ZM17.0436 19.8294C17.0436 16.2101 14.5961 13.6439 10.9767 13.6439C7.35737 13.6439 4.95436 16.2249 4.95436 19.8294C4.95436 23.4339 7.3722 26.0149 10.9767 26.0149C14.5812 26.0149 17.0436 23.4339 17.0436 19.8294Z" fill="#FC481D"/>
                <path d="M25.4397 32.3339H30.3792C31.2099 34.2475 32.8268 35.1226 35.3188 35.1226C38.686 35.1226 40.5995 33.5058 40.5995 29.5156V26.9346C39.3535 29.1744 37.1878 30.3908 34.4881 30.3908C29.7562 30.3908 25.2617 27.3203 25.2617 20.0074V9.5795H30.2012V20.0074C30.2012 23.9086 32.2779 25.7776 35.3929 25.7776C38.508 25.7776 40.5846 23.8196 40.5846 20.0074V9.5795H45.5242V29.3969C45.5242 36.5466 41 39.4095 35.3039 39.4095C30.5276 39.4095 26.5819 37.1993 25.4101 32.3488L25.4397 32.3339Z" fill="#FC481D"/>
                <path d="M50.3008 22.2027V2.2963H55.2403V9.56466H65.8314V14.0592H55.2403V22.2027C55.2403 24.9469 56.6495 26.0297 58.6965 26.0297C60.7435 26.0297 62.1527 24.9914 62.1527 22.2027V21.6687H67.0922V22.2027C67.0922 27.8988 63.6805 30.6429 58.6965 30.6429C53.7125 30.6429 50.3008 27.8988 50.3008 22.2027Z" fill="#FC481D"/>
                <path d="M70.9043 0.590485H75.8438V12.4275C77.2085 10.2322 79.3297 9.01586 81.9552 9.01586C86.687 9.01586 91.1816 12.0864 91.1816 19.3992V30.0793H86.242V19.3992C86.242 15.4981 84.1654 13.629 81.0503 13.629C77.9353 13.629 75.8587 15.5871 75.8587 19.3992V30.0793H70.9191V0.590485H70.9043Z" fill="#FC481D"/>
                <path d="M95.9727 0.590485H100.912V30.0941H95.9727V0.590485Z" fill="#FC481D"/>
                <path d="M137.816 19.4141C137.816 12.561 141.896 9.03067 147.962 9.03067C154.029 9.03067 158.108 12.5165 158.108 19.4141V30.0941H153.169V19.4141C153.169 15.5129 151.092 13.6439 147.977 13.6439C144.862 13.6439 142.786 15.5129 142.786 19.4141V30.0941H137.846V19.4141H137.816Z" fill="#FC481D"/>
                <path d="M109.069 26.1929L112.97 30.0941C112.97 30.0941 112.97 30.1831 112.97 30.2424C112.911 31.4736 113.475 33.6838 115.922 34.0843C117.005 34.3216 118.088 34.47 119.111 34.4996C119.794 34.5441 120.313 34.5441 120.802 34.47C123.977 34.2326 126.84 33.0163 129.272 30.8506L129.51 30.6429C129.791 30.3908 130.073 30.1386 130.34 29.8864C136.199 24.0272 134.093 16.6402 133.989 16.3287L133.589 15.4387C133.44 15.1865 133.248 14.9492 133.04 14.7415C132.194 13.896 130.993 13.5103 129.836 13.6735L125.534 9.37183C125.697 8.19999 125.312 7.01332 124.466 6.16781C124.214 5.91564 123.917 5.69314 123.606 5.51514L123.636 5.42614L122.879 5.20364C122.568 5.11464 115.166 3.02313 109.321 8.86749C109.054 9.13449 108.802 9.41633 108.55 9.713L108.357 9.92066C106.191 12.3682 104.96 15.2162 104.738 18.3015C104.649 18.7317 104.649 19.3102 104.693 20.0519C104.723 21.1051 104.871 22.1879 105.109 23.2262C105.524 25.7182 107.734 26.2819 108.965 26.2226C109.025 26.2226 109.069 26.2226 109.114 26.2226L109.069 26.1929ZM110.745 11.5672C110.953 11.3298 111.146 11.1073 111.339 10.9145C115.581 6.67215 120.832 7.69565 121.811 7.93299L122.004 7.99232C122.137 8.03682 122.256 8.11099 122.36 8.21482C122.701 8.55599 122.701 9.10483 122.36 9.43116C122.137 9.65366 121.811 9.74266 121.47 9.63883C120.906 9.49049 120.12 9.43116 120.016 9.43116C118.355 9.31249 115.181 9.52016 112.525 12.1753C112.303 12.3978 112.08 12.6352 111.873 12.8873C109.395 15.8689 109.025 18.524 109.143 20.215C109.158 20.6304 109.247 21.0457 109.336 21.4166L109.395 21.6984C109.514 22.0692 109.455 22.5439 109.188 22.8554C108.995 23.0482 108.772 23.1076 108.52 23.0482C108.224 22.9741 107.957 22.7367 107.897 22.5587C106.992 18.4499 107.897 14.7415 110.478 11.8193L110.73 11.5375L110.745 11.5672ZM127.329 28.6701C124.422 31.2659 120.699 32.1559 116.664 31.2659C116.412 31.1918 116.189 30.9248 116.115 30.6281C116.056 30.3759 116.115 30.1534 116.367 29.9013C116.619 29.6788 117.079 29.6194 117.539 29.7678L117.732 29.8123C118.103 29.9013 118.518 29.9903 118.919 30.0051C120.624 30.1238 123.294 29.7529 126.276 27.2757C126.528 27.0681 126.765 26.8456 126.988 26.6231C129.658 23.9531 129.851 20.7787 129.732 19.1174C129.732 19.0284 129.658 18.2422 129.51 17.634C129.421 17.3225 129.51 16.9962 129.732 16.7737C130.073 16.4325 130.607 16.4325 130.948 16.7737C131.052 16.8775 131.126 16.9962 131.171 17.1445L131.215 17.3077C131.468 18.3164 132.491 23.5674 128.249 27.8098C128.041 28.0174 127.804 28.2251 127.552 28.4476L127.314 28.6553L127.329 28.6701ZM120.699 16.2397C120.61 16.1655 120.521 16.0617 120.506 15.9134C120.55 15.32 120.402 14.875 120.298 14.5784C120.268 14.5042 120.239 14.4449 120.239 14.3707C120.194 14.163 120.105 13.896 120.001 13.629C119.898 13.362 119.705 12.8132 119.705 12.6945C119.705 12.6945 119.987 12.5165 120.995 12.7242C122.019 12.9318 122.983 12.6945 123.784 12.0418L124.466 12.7242L120.832 16.3584L120.713 16.2397H120.699ZM127.136 15.409C126.469 16.21 126.231 17.1594 126.454 18.1977C126.647 19.147 126.513 19.4437 126.543 19.4585C126.365 19.4882 125.816 19.2954 125.564 19.1915C125.297 19.0877 125.03 18.9987 124.822 18.9542C124.763 18.9394 124.689 18.9097 124.615 18.88C124.318 18.7762 123.888 18.6279 123.161 18.6724C123.131 18.6427 123.027 18.5389 122.953 18.4647L122.835 18.346L126.469 14.7119L127.151 15.3942L127.136 15.409ZM118.815 20.5562L118.014 19.7404H117.999C117.999 19.7404 117.613 19.3844 117.539 19.2954C117.598 19.1915 117.717 18.9839 118.043 18.6575C118.37 18.3312 118.563 18.2125 118.666 18.1384L121.01 20.482C120.951 20.6007 120.802 20.8084 120.491 21.1051C120.165 21.4314 119.957 21.5649 119.853 21.6094C119.764 21.5352 119.423 21.1792 119.364 21.1347L119.393 21.1051L118.8 20.5414L118.815 20.5562ZM121.188 24.3387C121.366 24.1607 121.559 24.0569 121.811 23.9234C122.123 23.7454 122.508 23.5377 122.894 23.1521C123.235 22.8109 123.458 22.4846 123.621 22.2176C123.725 22.0544 123.814 21.9209 123.873 21.8467C124.214 21.7281 125.416 21.9357 125.712 22.3362C126.068 22.8257 125.935 23.2707 125.786 23.5229C125.697 23.6416 125.608 23.7751 125.475 23.9531C125.312 24.1607 125.134 24.3536 124.941 24.5612C124.778 24.7244 124.615 24.8727 124.422 25.0211C123.917 25.4364 123.383 25.8072 122.924 26.0742C122.39 26.3116 121.692 26.4006 121.544 26.2522C121.114 25.7924 121.025 24.5761 121.173 24.3239L121.188 24.3387ZM117.376 15.231L117.331 15.2755C117.257 15.3497 117.109 15.4387 116.961 15.5425C116.694 15.7205 116.367 15.9282 116.026 16.2694C115.64 16.655 115.433 17.0407 115.255 17.3522C115.121 17.6044 115.003 17.7972 114.854 17.9604C114.587 18.1384 113.371 18.0494 112.911 17.6192C112.763 17.4857 112.852 16.7737 113.059 16.299C113.356 15.7799 113.727 15.2607 114.142 14.7415C114.291 14.5635 114.454 14.3855 114.617 14.2224C114.81 14.0295 115.017 13.8515 115.284 13.6438C115.403 13.5548 115.537 13.4658 115.611 13.4065C115.907 13.2433 116.352 13.1098 116.842 13.451C117.257 13.7477 117.45 14.964 117.376 15.2162V15.231ZM114.068 27.1126L117.509 23.6712L118.088 24.2349C118.207 24.4426 118.503 25.4364 118.652 26.4896C118.696 26.7566 118.696 26.9049 118.696 27.0087C118.652 27.0087 118.577 27.0087 118.488 26.9939C118.177 26.9642 117.91 26.9197 117.658 26.8901C116.575 26.7417 115.848 26.6527 114.928 27.2164C114.928 27.2164 114.483 27.4983 114.469 27.4983L114.068 27.0977V27.1126ZM112.288 21.5204C112.258 21.2831 112.214 21.0012 112.184 20.6897C112.184 20.6156 112.184 20.5414 112.184 20.4969C112.273 20.4969 112.436 20.4969 112.703 20.5414C113.757 20.6897 114.765 20.9864 114.854 21.0161L115.522 21.6836L112.08 25.1249L111.68 24.7244L111.962 24.2646C112.525 23.3301 112.436 22.6181 112.288 21.5352V21.5204Z" fill="#FC481D"/>
              </svg>
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'
        endif
      endif
    %}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}


              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript class="small-hide medium-hide">
            {%- form 'localization', id: 'HeaderCountryMobileFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="HeaderCountryMobileLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="small-hide medium-hide no-js-hidden">
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript class="small-hide medium-hide">
            {%- form 'localization', id: 'HeaderLanguageMobileFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="HeaderLanguageMobileLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="small-hide medium-hide no-js-hidden">
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      {% render 'header-search', input_id: 'Search-In-Modal' %}

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}
      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart{% if cart == empty %} cart-empty{% endif %} link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true"> {{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
      {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 60,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 52
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 60,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 24
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
